<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyy.dao.DeliveryMapper">
    <resultMap id="BaseResultMap" type="com.zyy.entity.Deliveries">
        <id column="userId" jdbcType="VARCHAR" property="userId" />
        <result column="companyId" jdbcType="VARCHAR" property="companyId" />
    </resultMap>


    <select id="getUserIdByCompanyId" resultMap="BaseResultMap">
        select userId from delivery where companyId=#{companyId}
    </select>

    <select id="getNumByCompanyId" parameterType="string" resultType="java.lang.Integer">
        select count(*) from delivery where companyId=#{companyId}
    </select>

</mapper>