<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyy.dao.DeliveryMapper">
    <resultMap id="BaseResultMap" type="com.zyy.entity.Deliveries">
        <id column="userId" jdbcType="VARCHAR" property="userId" />
        <result column="companyId" jdbcType="VARCHAR" property="companyId" />
        <result column="recruitId" jdbcType="VARCHAR" property="recruitId" />
        <result column="sendDate" jdbcType="DATE" javaType="java.util.Date" property="sendDate" />
    </resultMap>


    <select id="getAllByCompanyId" resultMap="BaseResultMap">
        select * from delivery where companyId=#{companyId}
    </select>

    <select id="getAllByCompanyIdAndRecruitId" resultMap="BaseResultMap">
        select * from delivery where companyId=#{companyId} and recruitId=#{recruitId}
    </select>

    <select id="getNumByCompanyId" parameterType="string" resultType="java.lang.Integer">
        select count(*) from delivery where companyId=#{companyId}
    </select>

    <select id="getNumByCompanyIdAndRecruitId" parameterType="string" resultType="java.lang.Integer">
        select count(*) from delivery where companyId=#{companyId} and recruitId=#{recruitId}
    </select>

    <insert id="addDelivery" parameterType="com.zyy.entity.Deliveries">
        insert into delivery(userId, companyId, recruitId, sendDate)
                value (#{userId},#{companyId},#{recruitId},#{sendDate})
    </insert>

    <delete id="deleteDelivery" parameterType="string">
        delete from delivery where userId=#{userId} and companyId=#{companyId} and recruitId=#{recruitId}
    </delete>

    <select id="getRecruitId" parameterType="string" resultMap="BaseResultMap">
        select recruitId from delivery where userId=#{userId} and companyId=#{companyId}
    </select>

    <select id="getMessage" resultMap="BaseResultMap">
        select * from delivery where userId=#{userId} and companyId=#{companyId} and recruitId=#{recruitId}
    </select>

    <select id="getCountByStartAndEnd" resultType="java.lang.Integer">
        select count(*) from (select * from delivery where sendDate between #{start} and #{end}) as 'SE'
                        where companyId=#{companyId}
    </select>

    <select id="getCountByDate" resultType="java.lang.Integer">
        select count(*) from (select * from delivery where sendDate = #{date}) as 'DT'
                        where companyId=#{companyId}
    </select>

    <select id="getCountByRecruitId" resultType="java.lang.Integer">
        select count(*) from (select * from delivery where recruitId = #{recruitId}) as 'RID'
    </select>

</mapper>