<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyy.dao.ResumeMapper">
    <resultMap id="BaseResultMap" type="com.zyy.entity.Resumes">
        <id column="resumeId" jdbcType="VARCHAR" property="resumeId" />
        <result column="userId" jdbcType="VARCHAR" property="userId" />
        <result column="career" jdbcType="VARCHAR" property="career" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="skill" jdbcType="VARCHAR" property="skill" />
        <result column="experience" jdbcType="VARCHAR"  property="experience" />
    </resultMap>


    <insert id="addResume" parameterType="com.zyy.entity.Resumes">
        insert into resume(resumeId,userId, career, type, skill, experience)
                value (#{resumeId},#{userId},#{career},#{type},#{skill},#{experience})
    </insert>

    <update id="updateResume" parameterType="com.zyy.entity.Resumes">
        update resume set career=#{career},type=#{type},skill=#{skill},experience=#{experience}
                where userId=#{userId}
    </update>

    <select id="getAllByUserId" parameterType="string" resultMap="BaseResultMap">
        select * from resume where userId=#{userId}
    </select>

    <select id="getAllByResumeId" parameterType="string" resultMap="BaseResultMap">
        select * from resume where resumeId=#{resumeId}
    </select>

</mapper>