<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyy.dao.UserMessageMapper">
    <resultMap id="BaseResultMap" type="com.zyy.entity.UserMessages">
        <id column="userId" jdbcType="VARCHAR" property="userId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="sendDate" jdbcType="DATE" javaType="java.util.Date" property="sendDate" />
        <result column="isRead" jdbcType="TINYINT" javaType="java.lang.Boolean" property="isRead" />
    </resultMap>

</mapper>