<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyy.dao.UserMessageMapper">
    <resultMap id="BaseResultMap" type="com.zyy.entity.UserMessages">
        <id column="messageId" jdbcType="VARCHAR" property="messageId" />
        <result column="userId" jdbcType="VARCHAR" property="userId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="sendDate" jdbcType="DATE" javaType="java.util.Date" property="sendDate" />
        <result column="isRead" jdbcType="TINYINT" javaType="java.lang.Boolean" property="isRead" />
    </resultMap>

    <insert id="sendMessage" parameterType="com.zyy.entity.UserMessages">
        insert into usermessage(messageId,companyId, userId, title, content, isRead, sendDate)
        value (#{messageId},#{companyId},#{userId}, #{title}, #{content}, #{isRead}, #{sendDate})
    </insert>

    <delete id="deleteByMessageId" parameterType="java.lang.String">
        delete from usermessage where messageId = #{messageId}
    </delete>

    <delete id="deleteByUserId" parameterType="java.lang.String">
        delete from usermessage where userId = #{userId} and isRead = 1
    </delete>

    <select id="getListByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from usermessage where userId = #{userId} order by sendDate desc
    </select>

    <update id="updateIsReadByMessageId" parameterType="java.lang.String">
        update usermessage set isRead = 1 where messageId = #{messageId}
    </update>

    <select id="getCountByUserId" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(*) from usermessage where userId = #{userId}
    </select>

    <select id="getCountByUserIdAndIsRead" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(*) from usermessage where userId = #{userId} and isRead = 0
    </select>

</mapper>